@import "../node_modules/@darekkay/styles/src/base/all";
@import "../node_modules/@darekkay/styles/src/layout/all";
@import "../node_modules/@darekkay/styles/src/fonts/all";
@import "../node_modules/@darekkay/styles/src/typography/all";
@import "../node_modules/@darekkay/styles/src/utilities/generic";
@import "../node_modules/@darekkay/styles/src/utilities/focus-ring";

.tagline {
  margin: 0 0 2rem 0;
  font-size: 2.3rem;
  text-align: center;
}

.card {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  background-color: $gray-cool-3;
}

.button img {
  border: 1px solid transparent;
}

.button img:hover {
  border-color: $gray-80;
}

/* Functional CSS utilities */

.inline-block {
  display: inline-block;
}

.font-weight-500 {
  font-weight: 500;
}

.text-footnote {
  font-size: 1.4rem;
}

.no-decoration,
.no-decoration:hover {
  text-decoration: none;
}

.margin {
  margin: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 1rem;
}

.no-padding {
  padding: 0;
}

.border {
  border: 1px solid $gray-cool-10;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.svg-full svg {
  width: 100%;
  height: 100%;
}
