### Node.js ###

/node_modules
/.pnp
.pnp.js
package-lock.json


### IDE ###

/.idea/httpRequests
/.idea/markdown.xml
/.idea/php.xml
/.idea/shelf
/.idea/tasks.xml
/.idea/workspace.xml


### App ###

/build
/coverage
.env*.local
config.local.js

### Misc ###

*.log
.DS_Store
