<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../favicon.ico" sizes="16x16 32x32"/>
  </head>
  <body>
    <main>
      <h2><%= name %></h2>
      <%- content %>
    </main>

    <footer>
      <% if (source) { %>
        <a href="<%= source %>" target="_blank" rel="noopener">Source</a>
      <% } %>
      <div>More tips at
      <a href="https://tips.darekkay.com" target="_blank" rel="noopener"
        >tips.darekkay.com</a
      >
      </div>
    </footer>
  </body>
</html>
